* {
    box-sizing: border-box;
}

body {
    font-family: "Comfortaa", sans-serif;
    background-color: #F3F6FD;
    margin: 0;
}

.app {
    display: flex;
}

.panel {
    width: 125px;
    padding: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: #FBFAFF;
    height: 100vh;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.menu__item {
    width: 46px;
    height: 46px;
    border-radius: 14px;
    border: none;
    box-shadow: 0 14px 8px 0 rgba(62, 107, 224, 0.12);
    background-color: white;
    cursor: pointer;
    transition: .3s;
}

.menu__item > img {
    transition: .3s;
}

.menu__item:hover {
    background-color: #5051F9;
}

.menu__item:hover > img {
    filter: brightness(0) invert(1);
}

.menu__item.menu__item_active {
    background-color: #5051F9;
}
.menu__item.menu__item_active > img {
    filter: brightness(0) invert(1);
}

.menu__add {
    width: 46px;
    height: 46px;
    cursor: pointer;
    border-radius: 14px;
    background-color: transparent;
    border: 1px solid #5051F9;
    opacity: .4;
    transition: .3s;
}

.menu__add:hover {
    opacity: 1;
}

.content {
    width: calc(100vw - 125px);
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 48px;
}

.content__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__header > h1 {
    font-size: 30px;
}

.progress {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 235px;
}

.progress__header {
    display: flex;
    justify-content: space-between;
}

.progress__name {
    color: #232360;
    font-size: 14px;
}

.progress__percent {
    color: #768396;
    font-size: 12px;
}

.progress__bar {
    height: 5px;
    border-radius: 4px;
    background-color: #E6E9ED;
    position: relative;
}

.progress__line {
    transition: all .3s;
    height: 5px;
    border-radius: 4px;
    background-color: #5051F9;
    position: absolute;
}

.tasks__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 12px;
}



.task {
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    background-color: #FFFFFF;
}

.task__day {
    white-space: nowrap;
    min-width: 129px;
    font-size: 14px;
    font-weight: 600;
    padding: 19px 0 19px 43px;
    background-color: #FBFAFF;
    border-right: 1px solid #E7EBFB;
}

.task__comment {
    width: 100%;
    font-size: 16px;
    padding: 19px 0 17px 23px;
}

.task__delete {
    margin-right: 12px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    background-color: transparent;
    padding: 2px;
    transition: .3s;
}

.task__form {
    width: 100%;
    display: flex;
    gap: 13px;
    font-size: 16px;
    padding: 5px 10px 5px 24px;
}

.task__delete:hover {
    background-color: #FBFAFF;
}

.input {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    border: 1px solid #E7EBFB;
    border-radius: 9px;
    padding: 10px 20px;
}

.input > input {
    width: 100%;
    font-size: 14px;
    font-family: "Comfortaa", cursive;
    border: none;
}

.input > input:focus-visible {
    outline: none;
}

.radio-group {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 20px;
}


.radio-label > input {
    display: none;
}

.radio-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border: 1px solid #5051F9;
    border-radius: 14px;
    background-color: white;
    cursor: pointer;
    transition: .3s;
}

.radio-icon > img {
    width: 25px;
    height: 25px;
    transition: .3s;
}

.radio-label input:checked ~ .radio-icon img {
    filter: brightness(0) invert(1);
}

.radio-label input:checked ~ .radio-icon {
    background-color: #5051F9;
}

.radio-icon:hover {
    background-color: #5051F9;
}

.radio-icon:hover img {
    filter: brightness(0) invert(1);
}


.button {
    font-size: 14px;
    border: none;
    background-color: #EDECFE;
    color: #5051F9;
    border-radius: 9px;
    padding: 0 32px;
    font-family: "Comfortaa", cursive;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
    min-height: 39px;
}
.button:hover {
    background-color: #d8d7f8;
}

.cover-bg {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
}

.modal {
    max-width: 424px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
}

.modal__title {
    text-align: center;
    font-size: 24px;
    margin: 0 0 20px;
}

.modal__subtitle {
    margin-bottom: 10px;
    color: #768396;
}

.modal__form {
    text-align: center;
}

.modal__form .input {
    margin-bottom: 6px;
}

.modal__form .input:last-child {
    margin-bottom: 20px;
}

.modal__button-close {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: .3s;
}

.modal__button-close:hover {
    opacity: .75;
}